body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    flex-direction: column;
    /* Para centrar verticalmente los elementos */
}

.nav li:hover>ul {
    display: block;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #001529;
    padding-top: 20px;
}

.sidebar h2 {
    color: #ffffff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #f1eeee;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #00274C;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #015baf;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
    border-radius: 10px;
}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color: #015baf;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
    border-radius: 10px;
    margin-left: 23px;
}

.dropdown-content a {
    color: #5e7285;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

input[type="text"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #5a3535;
    border-radius: 20px;
    box-sizing: border-box;
}

#section-search {
    width: 110px;
}

#search-container {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    /* Ajusta el ancho máximo según sea necesario */
    padding: 10px;
    /* Agrega relleno para un mejor espaciado */
}

#search-container input {
    margin-right: 25px;
}

table {
    width: 64rem;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.content {
    display: absolute;
    margin-left: 250px;
    padding: 45px;
    justify-content: space-evenly;
}

.button-blue {
    width: 110px;
    background-color: #06b33a;
    color: #fff;
    padding: 9px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    align-items: center;
}


/* Estilos para el botón de modificar */

#modify-btn {
    position: absolute;
    top: 135px;
    /* Ajusta la posición vertical según sea necesario */
    right: 50px;
    /* Ajusta la posición horizontal según sea necesario */
    background-color: #06b33a;
    /* Color de fondo verde */
    color: rgb(255, 255, 255);
    /* Color de texto blanco */
    border: none;
    /* Sin borde */
    padding: 10px 20px;
    /* Espaciado interior */
    font-size: 18px;
    /* Tamaño de fuente */
    cursor: pointer;
    /* Cursor de apuntar */
    border-radius: 20px;
    /* Borde redondeado */
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        background-color: #001529;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar.open {
        display: block;
    }

    .sidebar ul li {
        padding: 10px 20px;
    }

    .sidebar ul li a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .sidebar ul li a:hover {
        background-color: #00274C;
    }

    main {
        margin-left: 0;
        padding: 1rem;
    }

    #menu-toggle {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        color: rgb(107, 107, 107);
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        transition: transform 0.3s ease-in-out;
    }
}