body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #001529;
    padding-top: 20px;
}

.sidebar h2 {
    color: white;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 30px;
}

.sidebar ul li a {
    color: rgb(216, 219, 185);
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #00274C;
    
}

#webcam-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    overflow: hidden;
}

#webcam {
    width: 100%;
    height: 100%;
}

main {
    font-family: Enriqueta;
    padding: 7rem;
    margin-left: 300px;
}

main h2 {
    font-family: Enriqueta;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

main img {
    margin-left: 400px;
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        background-color: #001529;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar.open {
        display: block;
    }

    .sidebar ul li {
        padding: 10px 20px;
        text-align: center;
    }

    .sidebar ul li a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .sidebar ul li a:hover {
        background-color: #00274C;
    }

    main {
        margin-left: 0;
        padding: 1rem;
    }

    #menu-toggle {
        background-color: transparent;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        color: #9c9d9e;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        text-align: center;
    }
}
