/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    max-width: 900px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-size: 24px;
}

/* Estilos del formulario */
form {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-column {
    flex: 0 0 48%; /* Toma el 48% del ancho para dejar un margen entre las columnas */
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #007bff;
    background-color: #f0f8ff;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%; /* Botón ocupa todo el ancho del formulario */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

input[type="file"] {
    padding: 0;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #007bff;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    form {
        flex-direction: column;
    }

    .form-column {
        flex: 1 0 100%; /* Las columnas ocupan el 100% en pantallas pequeñas */
    }

    h2 {
        font-size: 20px;
    }

    input, select, button {
        font-size: 14px;
        padding: 10px;
    }
}
