body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav li:hover>ul {
    display: block;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #001529;
    padding-top: 20px;
}

.sidebar h2 {
    color: #ffffff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #f1eeee;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #00274C;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #015baf;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
    border-radius: 10px;
}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color: #015baf;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
    border-radius: 10px;
    margin-left: 23px;
}

.dropdown-content a {
    color: #5e7285;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.chat-container {
    max-width: 500px;
    /* Ancho máximo del contenedor del chat */
    margin: 0 auto;
    /* Centra el contenedor en la página */
    border: 1px solid #ccc;
    /* Borde alrededor del contenedor */
}

.messages {
    max-height: 300px;
    /* Altura máxima para el área de mensajes */
    overflow-y: auto;
    /* Hace que el área de mensajes sea desplazable si hay demasiados mensajes */
}

.input-container {
    display: flex;
    /* Usa flexbox para alinear el campo de entrada y el botón */
    padding: 10px;
    /* Espacio alrededor del campo de entrada y el botón */
    background-color: #f9f9f9;
    /* Fondo del área de entrada de mensajes */
}

input[type="text"] {
    flex: 1;
    /* El campo de entrada de texto ocupa todo el espacio restante */
    padding: 8px;
    /* Espaciado dentro del campo de entrada */
    border: 1px solid #ccc;
    /* Borde alrededor del campo de entrada */
    border-radius: 20px;
    /* Borde redondeado del campo de entrada */
}


/* Estilos para los botones */

button,
input[type="submit"],
select {
    margin: left
}


/* Estilos para el botón de enviar */

input[type="submit"],
button {
    padding: 8px 15px;
    /* Espaciado dentro del botón */
    margin-left: 10px;
    /* Margen a la izquierda del botón */
    background-color: #007bff;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    /* Sin borde alrededor del botón */
    border-radius: 20px;
    /* Borde redondeado del botón */
    cursor: pointer;
    /* Cursor de puntero cuando se pasa por encima del botón */
    transition: background-color 0.3s, transform 0.3s;
    /* Transiciones */
    margin-top: 2px;
    margin-bottom: 20px;
}


/* Estilos para los botones de selección */

select {
    padding: 8px 15px;
    /* Espaciado dentro del botón */
    margin-left: 10px;
    /* Margen a la izquierda del botón */
    border: 1px solid #5a3535;
    /* Borde */
    border-radius: 20px;
    /* Borde redondeado */
    box-sizing: border-box;
    /* Tamaño incluyendo el borde y el relleno */
    cursor: pointer;
    /* Cursor de puntero cuando se pasa por encima del botón */
    transition: background-color 0.3s, transform 0.3s;
    /* Transiciones */
    margin-top: 2px;
    margin-bottom: 20px;
}

main {
    margin-left: 70px;
}

main{
    margin-left: 220px;
    margin-bottom: 70px;
}
/* Estilos para el formulario */

form {
    margin-left: 10px;
    width: 780px;
    display: flex;
}


/* Estilos para cada columna */

.column {
    width: 100%;
    /* Ancho del 50% para cada columna */
    padding: 10px;
    /* Espaciado interno */
    box-sizing: border-box;
    /* Tamaño incluyendo el borde y el relleno */
    display: flex;
    /* Para alinear verticalmente los elementos */
    flex-direction: column;
    /* Alinear elementos en columna */
}

.create-subject {
    float: right;
    font-size: 13px
}


/* Estilos para los campos de texto y el botón de enviar */

input[type="text"],
input[type="email"],
input[type="file"],
input[type="submit"] {
    width: 100%;
    /* Ancho del campo */
    padding: 10px;
    /* Espaciado interno */
    margin-bottom: 10px;
    /* Margen inferior */
    border: 1px solid #5a3535;
    /* Borde */
    border-radius: 20px;
    /* Borde redondeado */
    box-sizing: border-box;
    /* Tamaño incluyendo el borde y el relleno */
}

.create-subject {
    float: right;
    font-size: 13px
}


/* Estilos para el botón de enviar */

input[type="submit"] {
    background-color: #4CAF50;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cursor de puntero */
    transition: background-color 0.3s, transform 0.3s;
    /* Transiciones */
    margin-top: 2px;
}


/* Estilos para el botón de enviar al pasar el cursor */

input[type="submit"]:hover {
    background-color: #47eb4f;
    /* Cambiar color de fondo */
    transform: scale(1.05);
    /* Aumentar tamaño */
    box-shadow: 0 0 10px #3ccf44;
    /* Sombra */
}

input[type="file"] {
    display: none;
    /* Oculta el input por defecto */
}


/* Estilo para el botón personalizado */

.custom-file-upload {
    background-color: #000000;
    /* Cambia el color de fondo */
    color: #dddada;
    /* Cambia el color del texto */
    padding: 10px;
    /* Añade espacio interno */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    border-radius: 20px;
    /* Añade bordes redondeados */
    position: relative;
    /* Para posicionar el icono y el texto */
    width: 100%;
}


/* Estilo para el icono */

.custom-file-upload::after {
    content: '📷';
    /* Agrega el icono */
    margin-left: 0px;
    /* Añade espacio entre el texto y el icono */
}


/* Estilo para el texto */

.custom-file-upload:hover::after {
    content: 'SubirFoto';
    /* Cambia el texto al pasar el cursor sobre el botón */
    margin-left: 2px;
    /* Ajusta el espacio entre el texto y el icono */
}



#menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        background-color: #001529;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidebar.open {
        display: block;
    }
    .sidebar ul li {
        padding: 10px 20px;
    }
    .sidebar ul li a {
        display: block;
        color: white;
        text-decoration: none;
    }
    .sidebar ul li a:hover {
        background-color: #00274C;
    }
    main {
        margin-left: 0;
        padding: 15px;
        margin-top: 50px;
    }
    #menu-toggle {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        color: #5f5757;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }
}

@media screen and (max-width: 600px) {
    form {
        width: 80%;
        margin: auto;
        padding: 5%;
        flex-direction: column;
    }
    .column {
        padding: 0;
    }
    input[type="text"],
    input[type="email"],
    input[type="file"],
    input[type="submit"] {
        margin-bottom: 20px;
    }
    #file-preview {
        margin-top: 75px;
    }
    #file-container {
        padding: 15px;
    }
}