#contenedor-video {
    position: relative; /* Permite posicionar el video dentro de este contenedor */
    width: 500px; /* Ancho deseado para el video */
    height: 300px; /* Altura deseada para el video */
    margin-top: 30px;
    margin-left: 60px; /* Margen para separar del borde superior e izquierdo */
}

#camara {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    border: 2px solid #333; /* Borde opcional para resaltar el video */
}