.container {
    position: relative;
    /* background: rgb(17 24 39); */
    
}

.reloj{
    position: relative;
    top: 3em;
    margin-left: 0em;
}

#videoFrame {
    width: 430px;
    height: 330px;
    margin-left: 1px;
    margin-top: 1em;
    position: relative;
    bottom: 1em;
}

.button-container {
    position: absolute;
    top: 1em;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.button-container form {
    margin-bottom: 10px;
}

.title{
    margin-top: 0.5em;
    position: relative;
    bottom: 2em;
}
.table{
    margin-top: 0em;
    border-color: black;
    position: relative;
    bottom: 1em;
    top: 1em;
}

/* Estilos para el párrafo que contiene la fecha */
#fecha {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    position: relative;
    top: 2em;

}


#studentInfo {
    position: absolute;
    top: 5em; /* Ajusta la posición superior según sea necesario */
    left: calc(430px + 20px);  /* Ajusta el valor según el ancho del videoFrame y el margen */
    margin-left: 3em;
}