.container {
    position: relative;
    /* background: rgb(17 24 39); */
    
}

#videoFrame {
    width: 430px;
    height: 330px;
    margin-left: 10px;
    margin-top: 2em;
    float: left;  /* Para alinear el video a la izquierda */
    margin-bottom: 3em;
}

.button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.button-container form {
    margin-bottom: 10px;
}

.title{

    margin-top: 0.5em;
}
.table{
    margin-top: 5em;
    border-color: black;
}

#studentInfo {
    position: absolute;
    top: 5em; /* Ajusta la posición superior según sea necesario */
    left: calc(430px + 20px);  /* Ajusta el valor según el ancho del videoFrame y el margen */
}