body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo opcional */
    overflow-x: hidden;
}

.contenedor {
    position: relative;
}

.imagen {
    width: 47px;
    height: 47px;
    position: absolute;
    top: 20px;
    left: 20px; /* Cambia este valor según tus necesidades */
}

.rectangulo {
    width: 100%;
    height: 89px;
    background-color: #D7B892; /* Cambia este color según tus preferencias */
}

.fi-sr-user {
    color: #996949; /* Cambia el color según tus preferencias, aquí se utiliza un azul como ejemplo */
    font-size: 200%;
    position: absolute;
    top: 30%;
    right: 10%; /* Ajusta la posición según tus necesidades */
}

.login-text {
    font-size: 30px;
    color: #996949; /* Cambia el color del texto según tus preferencias */
    position: absolute;
    top: 30%;
    right: 3%; /* Ajusta la posición según tus necesidades */
    font-family: 'Cherry Swash', Regular;
    font-weight: bold;
}


.title {
    /* Estilos para el H1 con la clase title */
    font-size: 2em; /* Tamaño del texto, ajusta según tus necesidades */
    color: #333; /* Color del texto, ajusta según tus necesidades */
    margin-top: 20px; /* Espaciado superior, ajusta según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cherry Swash', Regular;
    font-weight: bold;
}

.navbar {
    background-color: transparent; /* Fondo transparente */
    padding: 10px;
    width: 100%; /* Ocupar todo el ancho de la página */
    margin-top: 3%; /* Agrega un margen en la parte superior */

}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: black; /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center; /* Centra el texto */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
}

.navbar i {
    margin-bottom: 5px; /* Ajusta el espacio entre el icono y el texto según tus necesidades */
}

.navbar a:hover,
.navbar a:active {
    color: #62B5FF; /* Cambio de color del texto al hacer clic */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    top: 30px;
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(37, 40, 80, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}

@media screen and (max-width: 460px){
    .content_slider h2 {
        font-size: 15pt !important;
    }
    .content_slider p {
        font-size: 12pt !important;
    }
    #container-slider .arrowPrev, #container-slider .arrowNext{
        font-size: 20pt;
    }
    #container-slider .arrowPrev{
        left: 15px;
    }
    #container-slider .arrowNext{
        right: 15px !important;
    }
    #slider{
        height: 400px;
        min-height: 400px;
    }
    #slider li .content_slider{
        padding: 10px 35px;
    }
    .btnSlider{
        padding: 10px 30px;
        font-size: 10pt;
    }

}