/* Estilos para el cuerpo */
/* Estilos para el cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li:hover>ul {
    display: block;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #001529;
    padding-top: 20px;
}

.sidebar h2 {
    color: #ffffff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #f1eeee;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #00274C;
    padding: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #015baf;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
    border-radius: 10px;
}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color: #015baf;
    box-shadow: 0px 8px 16px 0px #41018a;
    z-index: 2;
    border-radius: 10px;
    margin-left: 23px;
    width: 150px;
}

.dropdown-content a {
    color: #5e7285;
    text-decoration: none;
    display: block;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para la barra lateral en pantallas pequeñas */
@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 250px;
        top: 0;
        left: 0;
        background-color: #001529;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar.open {
        display: block;
    }

    .sidebar ul li {
        padding: 10px 20px;
    }

    .sidebar ul li a {
        display: block;
        color: white;
        text-decoration: none;
    }

    .sidebar ul li a:hover {
        background-color: #00274C;
    }

    main {
        margin-left: 0;
        padding: 15px;
        margin-top: 50px;
    }

    /* Estilos para el botón de menú en pantallas pequeñas */
    #menu-toggle {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        color: #5f5757;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }
}

/* Estilos para el formulario en pantallas pequeñas */
@media screen and (max-width: 600px) {
    form {
        width: 80%;
        margin: auto;
        padding: 5%;
        flex-direction: column;
    }

    .column {
        padding: 0;
    }

    input[type="text"],
    input[type="email"],
    input[type="file"],
    input[type="submit"] {
        margin-bottom: 20px;
    }

    #file-preview {
        margin-top: 75px;
    }

    #file-container {
        padding: 15px;
    }
}



/* Estilos para el contenido principal */
.main-content {
    margin-left: 250px; /* Deja espacio para la barra lateral */
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 250px); /* Asegura que no se desborde fuera de la pantalla */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}










/* Ajuste del título */
.titulo {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    position: relative;
    margin-right: 1em;
}

/* Ajustar contenedor principal */
.container {
    margin-top: 1em;
}



/*Cards de secciones*/
/* Cards de secciones */
.category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.category .job {
    height: 180px;
    border: 1px solid transparent;
    padding: 30px 19px 25px 19px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 800px;
    position: relative;
}

.category .job:hover {
    border: 1px solid #0d6efd;
}

.category .job span {
    padding: 6px 20px;
    font-weight: 400;
    border-radius: 26px;
    display: inline-block;
}

.category .job .colors1 {
    font-weight: 800;
    color: #4294F2;
    background: rgba(66, 148, 255, 0.26);
}

.category .job .colors2 {
    font-weight: 800;
    color: #4294F2;
    background: rgba(66, 148, 255, 0.26);
}

.category .job .colors3 {
    font-weight: 800;
    color: #2EB98D;
    background: #5fffcf63;
}

.category .job .colors4 {
    font-weight: 800;
    color: #6A42F2;
    background: rgba(106, 66, 242, 0.07);
}

.category .job .colors5 {
    font-weight: 800;
    color: #F162BC;
    background: rgba(241, 98, 188, 0.07);
}





.place {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 0px;
    color: #76787A;
}

.left {
    font-weight: 800;
}

.category .job span.time {
    font-weight: 900;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

ul {
    padding-top: 1em;
}


/*Botón para habilitar todas las secciones*/

/* Estilo para el botón */
.btn-success {
    display: block;
    margin: 1em auto;
    width: 200px;
    height: 50px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 12em;
}



/*Botón para editar las secciones*/



.btn {
    top: 10%;
    left: -9.7%;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #0d6efd;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* Estilos cuando el botón está deshabilitado */
.btn.disabled {
    background-color: red;
}

/*Boton para habilitar seccion*/

/* Botón para habilitar seccion */
.buttonSecciones {
    margin: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    margin-left: -0.1em;
}

/* Estilos cuando el botón está deshabilitado */
.buttonSecciones.disabled {
    background-color: red;
}






.btn-editar {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #0d6efd;
    color: white;
    font-size: 16px;
}