<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/administrador.css') }}">
</head>

<body>
    <div class="sidebar">
        <h2>Administración</h2>
        <ul>
            <li class="dropdown">
                <a href="#">Personal</a>
                <ul class="dropdown-content">
                    <li><a href="/profesor">Profesor</a></li>
                    <li><a href="#">Administrador</a></li>
                </ul>
            </li>
            <li><a href="#">Estudiante</a></li>
            <li><a href="#">Secciones</a></li>
            <li><a href="/Materia">Materias</a></li>
            <li class="dropdown">
                <a href="#">Horarios</a>
                <ul class="dropdown-content">
                    <li><a href="#">Crear Jornada</a></li>
                    <li><a href="#">Administrar Jornada</a></li>
                </ul>
            </li>
            <li><a href="#">Tomar asistencia STARF</a></li>
            <li class="dropdown">
                <a href="#">Reportes</a>
                <ul class="dropdown-content">
                    <li><a href="#">En Tiempo Real</a></li>
                    <li><a href="#">Normal</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <main>
        <!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Administrador</title>
</head>
<body>
    <form action="/admin_form" method="post" enctype="multipart/form-data">
        <label for="id_administrador">ID Administrador:</label><br>
        <input type="text" id="id_administrador" name="id_administrador"><br><br>
        
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre"><br><br>
        
        <label for="apellidos">Apellidos:</label><br>
        <input type="text" id="apellidos" name="apellidos"><br><br>
        
        <label for="correo">Correo electrónico:</label><br>
        <input type="email" id="correo" name="correo"><br><br>

        <label for="imagen">Imagen:</label><br>
        <input type="file" id="imagen" name="imagen"><br><br>
        
        <input type="submit" value="Guardar">
    </form>
</body>
</html>

    </main>
</body>

</html>