<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="prueba.css">

    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="svg-background"></div>
        <div class="svg-background2"></div>
        <div class="circle"></div>
        <img class="menu-icon" src="LogoIncasSin.png">
        <img class="profile-img" src=" ">
        <div class="text-container">
            <p class="title-text">6405230</p>
            <p class="info-text">Erick Fajardo<br><br>
            <p class="desc-text">Desarrollo de Software</p>
        </div>
    </div>

</body>

</html>