<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Estudiante</title>
</head>

<body>
    <h2>Editar Estudiante: {{ estudiante[0] }} {{ estudiante[1] }}</h2>
    <form action="{{ url_for('editar_estudiante', nit=nit) }}" method="POST" enctype="multipart/form-data">
        <label for="imagen">Imagen:</label>
        <input type="file" name="imagen" id="imagen" accept="image/*" required>
        <label for="nie">NIE:</label>
        <input type="text" name="nie_edit" id="nie" value="{{ estudiante[2] }}" required><br><br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{ estudiante[0] }}" required><br><br>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" value="{{ estudiante[1] }}" required><br><br>
        <label for="email">Correo Electrónico:</label>
        <input type="email" name="email" id="email" value="{{ estudiante[3] }}" required><br><br>
        <label for="genero">Género:</label>
        <select name="genero" id="genero" required>
            <option value="Masculino" {% if estudiante[4]=="Masculino" %}selected{% endif %}>Masculino</option>
            <option value="Femenino" {% if estudiante[4]=="Femenino" %}selected{% endif %}>Femenino</option>
        </select><br><br>
        <label for="bachillerato">Bachillerato:</label>
        <input type="text" name="bachillerato" id="bachillerato" value="{{ estudiante[5] }}" required><br><br>
        <button type="submit">Actualizar</button>
    </form>
</body>

</html>