<!DOCTYPE html>
<html lang="es">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Editar Profesor</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/editar_profesor.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <button class="back-button" onclick="window.history.back();">
        <i class="fas fa-arrow-left"></i>
    </button>
    <div class="content">
        <h2>Editar Profesor</h2>
        <form action="/editar_profesor/{{ profesor[0] }}" method="POST" enctype="multipart/form-data">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ profesor[1] }}">

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" value="{{ profesor[2] }}">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ profesor[3] }}">

            <label for="imagen">Imagen:</label>
            <div class="input-group">
                <input type="file" id="imagen" name="imagen" accept="image/*" onchange="previewImage(event)">
                <div id="image-preview"></div>
            </div>

            <input type="submit" value="Guardar Cambios">
        </form>
    </div>
    <script>
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('image-preview');
                output.innerHTML = '<img src="' + reader.result + '" alt="Imagen seleccionada" />';
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>