<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de docente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formuP.css') }}">
</head>

<body>
    <div class="sidebar" id="sidebar">
        <h2>Administración</h2>
        <ul class="nav">
            <li><a href="#">Personal</a>
                <ul class="dropdown-content">
                    <li><a href="/profesor">Profesor</a></li>
                    <li><a href="/administrador">Administrador</a></li>
                    <li><a href="#">Historial de Personal</a>
                        <ul class="dropdown-contents">
                            <li><a href="/formuP">Profesores</a></li>
                            <li><a href="/formuA">Administradores</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="/estudiante">Estudiante</a></li>
            <li><a href="/seccion">Secciones</a></li>
            <li><a href="/inicio">Tomar asistencia STARF</a></li>
            <li><a href="#">Reportes</a>
                <ul class="dropdown-content">
                    <li><a href="#">En Tiempo Real</a></li>
                    <li><a href="#">Normal</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <button id="menu-toggle">&#9776;</button>

    <div class="content">
        <h2>Registrar Profesores</h2>

        <div class="button-container">
            <button class="button-blue" onclick="modificarAdmin()">Modificar</button>
            <button class="button-blue" onclick="eliminarAdmin()">Eliminar</button>
        </div>


        <table id="tablaAdmins">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>ID </th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán dinámicamente los administradores -->
            </tbody>
        </table>
    </div>
    <script src="formuA.js"></script>
</body>

</html>