<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formuA.css') }}">
</head>

<body>
    <div class="sidebar" id="sidebar">
        <h2>Administración</h2>
        <ul class="nav">
            <li>
                <a href="#">
                    <h4>Administrar Sección</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="/seccion">Crear Sección</a></li>
                    <li><a href="/verSecciones">Ver Sección</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <h4>Personal</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="/profesor">Profesor</a></li>
                    <li><a href="/administrador">Administrador</a></li>
                    <li><a href="#">Historial de Personal</a>
                        <ul class="dropdown-contents">
                            <li><a href="/formuP">Profesores</a></li>
                            <li><a href="/formuA">Administradores</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <h4>Estudiante</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="/estudiante">Registrar Estudiante</a></li>
                    <li><a href="/AdmiEstu">Administrar Estudiante</a></li>
                </ul>
            </li>
            <li>
                <a href="/inicio">
                    <h4>Tomar asistencia STARF</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>Reportes</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="#">En Tiempo Real</a></li>
                    <li><a href="#">Normal</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content">
        <h2>Registros de Administradores</h2>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Imagen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{ registro[0] }}</td>
                    <td>{{ registro[1] }}</td>
                    <td>{{ registro[2] }}</td>
                    <td>{{ registro[3] }}</td>
                    <td><img src="data:image/jpeg;base64,{{ registro[4] }}" width="100" height="100"></td>
                    <td>
                        <a href="/editar_administrador/{{ registro[0] }}">Editar</a>
                        <!-- Agrega el botón de eliminar dentro de un formulario -->
                        <form action="/eliminar_administrador" method="POST" style="display:inline;">
                            <input type="hidden" name="id_administrador" value="{{ registro[0] }}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>