<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/getPasswordAdmin.css') }}">
    <title>Recuperar contraseña</title>
</head>
<body>
    <form action="/recuperacionAdmin" method="post">
        <div class="input-box">
            <span class="icon">
                <i class="fa-solid fa-envelope"></i>
            </span>
            <input required type="text" id="email" name="email" oninput="checkInput(this)">
            <label id="email" for="email">Ingrese su correo electrónico</label>
        </div>
        <button type="submit">Enviar</button>
    </form>
    <script>
        function checkInput(input) {
            var label = document.getElementById('emailLabel');
            if (input.value !== '') {
                label.style.display = 'none';
            } else {
                label.style.display = 'block';
            }
        }
    </script>
</body>
</html>
