<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profesor.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Administración</h2>
        <ul>
            <li class="dropdown">
                <a href="#">Personal</a>
                <ul class="dropdown-content">
                    <li><a href="#">Profesor</a></li>
                    <li><a href="/administrador">Administrador</a></li>
                </ul>
            </li>
            <li><a href="/estudiante">Estudiante</a></li>
            <li><a href="#">Secciones</a></li>
            <li><a href="/Materia">Materias</a></li>
            <li class="dropdown">
                <a href="/Materia">Horarios</a>
                <ul class="dropdown-content">
                    <li><a href="#">Crear Jornada</a></li>
                    <li><a href="#">Administrar Jornada</a></li>
                </ul>
            </li>
            <li><a href="#">Tomar asistencia STARF</a></li>
            <li class="dropdown">
                <a href="#">Reportes</a>
                <ul class="dropdown-content">
                    <li><a href="#">En Tiempo Real</a></li>
                    <li><a href="#">Normal</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <main>
            <div class="container">
                <h2>Registro de Profesor</h2>
                <form action="/submit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" id="apellido" name="apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="nip">NIP:</label>
                        <input type="text" id="nip" name="nip" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="id_docente">ID Docente:</label>
                        <input type="text" id="id_docente" name="id_docente" required>
                    </div>
                    <div class="form-group">
                        <label for="imagen">Imagen:</label>
                        <input type="file" id="imagen" name="imagen" accept="image/*" required>
                    </div>
                    <button type="submit">Registrar</button>
                </form>
    </main>
</body>

</html>