<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>STARF</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/secciones.css')}}">
</head>

<body>
    <div class="sidebar" id="sidebar">
        <h2>Administración</h2>
        <ul class="nav">
            <li>
                <a href="#">
                    <h4 href="#">Administar Sección</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="/seccion">Crear Sección</a></li>
                    <li><a href="/verSecciones">Ver Sección</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <h4>Personal</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="/profesor">Profesor</a></li>
                    <li><a href="/administrador">Administrador</a></li>
                    <li><a href="#">Historial de Personal</a>
                        <ul class="dropdown-contents">
                            <li><a href="/formuP">Profesores</a></li>
                            <li><a href="/formuA">Administradores</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <h4>Estudiante</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="/estudiante">Registrar Estudiante</a></li>
                    <li><a href="/AdmiEstu">Admistrar Estudiante</a></li>
                </ul>
            </li>
            <li>
                <a href="/inicio">
                    <h4>Tomar asistencia STARF</h4>
                </a>
            </li>
            <li>
                <a href="#">
                    <h4>Reportes</h4>
                </a>
                <ul class="dropdown-content">
                    <li><a href="#">En Tiempo Real</a></li>
                    <li><a href="#">Normal</a></li>
                </ul>
            </li>
        </ul>
    </div>




    <main>
        <h2 class="titulo">Desarrollo de software</h2><br>
        <input type="submit" value="Retroceder" id="retroceder" class="regresar">
    </main> 





    <section class="cards">
        <!-- Tarjetas -->
        {% for año in años %}
            <div class="tarjeta-container">
                <div class="tarjeta">
                    <h3>Sección: {{ año[0] }}</h3>
                    <h2>Año: {{ año[1] }}</h2>
                    <!-- Línea separadora -->
                    <div class="separador"></div>
                    <div class="botones-tarjeta">
                        <button class="habilitar-btn">Habilitar</button>
                        <div class="checkbox-container"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>





    
    <!-- Script para manejar eventos -->
    <script>
      // Función para manejar clic en el botón de habilitar
      function toggleButton(event) {
          var habilitarBtn = event.target;

          // Cambiar el texto y la clase del botón
          if (habilitarBtn.textContent === "Habilitar") {
              habilitarBtn.textContent = "Desactivar";
              habilitarBtn.classList.add('desactivado'); /* Agregar clase 'desactivado' al botón */
          } else {
              habilitarBtn.textContent = "Habilitar";
              habilitarBtn.classList.remove('desactivado'); /* Eliminar clase 'desactivado' del botón */
          }
      }

      // Agregar evento de clic a todos los botones de habilitar
      var habilitarBtns = document.querySelectorAll('.habilitar-btn');
      habilitarBtns.forEach(function(btn) {
          btn.addEventListener('click', toggleButton);
      });
    </script>
    <script src="menu.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var bootstrapDeactivateButton = document.getElementById("retroceder");
            bootstrapDeactivateButton.addEventListener("click", function () {
                // Redirige al usuario a card.html
                window.location.href = "{{ url_for('verSecciones') }}";
            });
        });
    </script>
</body>

</html>