<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoStreaming</title>
    <style>
        .container {
            position: relative;
        }

        #videoFrame {
            width: 500px;
            height: 300px;
            margin-left: 10px;
        }

        .button-container {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
        }

        .button-container form {
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="container">
    <center><h1>Toma de asistencia</h1></center>
     <!--<a href="{{ url_for('inicio') }}">Volver</a> <br><br>-->
   
    <!-- Aquí está la etiqueta img con el estilo CSS -->
    <img id="videoFrame" src="{{ url_for('video_feed') }}">

    <!-- Contenedor para los botones -->
    <div class="button-container">
        <!-- HTML para encender la cámara -->
        <form method="post">
            <button type="submit" name="action" value="start_camera">Encender Cámara</button>
        </form>

        <!-- HTML para apagar la cámara -->
        <form method="post">
            <button type="submit" name="action" value="stop_camera">Apagar Cámara</button>
        </form>
    </div>
 
</body>
</html>
