<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoStreaming</title>
</head>
<body class="container">
    <h1>Toma de asistencia</h1>
     <a href="{{ url_for('inicio') }}">Volver</a> <br>
   
    <img src="{{ url_for('video_feed') }}">

    <!-- HTML para encender la cámara -->
    <form method="post">
        <button type="submit" name="action" value="start_camera">Encender Cámara</button>
    </form>

    <!-- HTML para apagar la cámara -->
    <form method="post">
        <button type="submit" name="action" value="stop_camera">Apagar Cámara</button>
    </form>
 
</body>
</html>
